body {
  overflow: auto;
  height: 5000px;
}
.whyme {
  width: 100%;
  height: 15%;
  background-color: white;
  text-align: center;
  color: #5e0d1c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#whymetext {
  padding-top: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}
#visitext {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
.inroduce {
  width: 100%;
  height: 16%;
  background-color: #5e0d1c;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#whoamitext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  padding-left: 6vw;
  padding-top: 5vw;
  line-height: normal;
}
.introduce-info {
  margin: 2vw 6vw 6vw 6vw;
  width: 87%;
  height: 75vh;
  display: flex;
  flex-direction: row;
}
.myname {
  width: 42%;
  height: 56vh;
}
.foto-slide {
  width: 49%;
  height: 72vh;
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
#FIO {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#line1 {
  width: 100%;
  margin-top: 5vw;
}
.info {
  margin-top: 3vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  gap: 8vw;
}
#age,
#kurs,
#family {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#arrow {
  width: 10%;
}
.story {
  width: 100%;
  height: 16%;
  background-color: white;
  color: #5e0d1c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.namestory {
  text-align: center;
  padding-top: 5vh;
}
#lifestory-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
#facttext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2vh;
}
.text2 {
  width: 72vw;
  height: 58vh;
  border-radius: 20px;
  background: rgba(243, 0, 45, 0.14);
  margin-left: 13vw;
  margin-right: 13vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#storytext {
  color: #000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 209.188%;
  letter-spacing: -0.64px;
}
.things {
  width: 100%;
  height: 16%;
  background-color: #5e0d1c;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
  width: 100%;
  height: 10%;
  background-color: white;
  color: #5e0d1c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
